@{
    ViewData["Title"] = "Ticket Detail";
}

<div class="d-flex justify-content-center">
    <div class="spinner-border text-dark spinner" id="loader" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div id="form-body">


    <div class="row mb-1">
        <div class="col-lg-12">
            <span class="ticket-heading">Title:</span> @Model.Title
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-lg-6">
            <span class="ticket-heading">Type:</span> @Model.Type
        </div>
        <div class="col-lg-6">
            <span class="ticket-heading">Severity:</span> @Model.Severity
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-lg-6">
            <span class="ticket-heading">Subscription:</span> @ViewBag.subscriptionName
        </div>
        <div class="col-lg-6">
            <span class="ticket-heading">Preferred Contact Method:</span> @Model.ContactDetails.PreferredContactMethod
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-lg-6">
            <span class="ticket-heading">Service Type:</span> @Model.ServiceDisplayName
        </div>
        <div class="col-lg-6">
            <span class="ticket-heading">Support Language:</span> @Model.ContactDetails.PreferredSupportLanguage
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-lg-6">
            <span class="ticket-heading">Problem:</span> @Model.ProblemClassificationDisplayName
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-lg-6">
            <span class="ticket-heading">Additional Details</span> <br />
            <span class="ticket-heading">When did the problem begin:</span> @Model.ProblemStartTime
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-lg-6">
            <span class="ticket-heading">Details:</span><br />
            <div class="ticket-description">
                @Html.Raw(Model.Description)
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="ticketName" name="ticketName" value="@Model.Name" />

<div class="row mb-1">
    <div class="col-lg-2">
        <button id="closeTicket" class="btn btn-primary">Close Ticket</button>
    </div>
    <div class="col-lg-2">
        <button data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary">New Message</button>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Create Communication</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               
                <div class="row">
                    <div class="col-lg-12">
                        <span class="ticket-heading">Subject:</span>
                        <input type="text" maxlength="50" id="Subject" class="form-control" name="Subject" style="width:398px;" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-12">
                        <span class="ticket-heading">Body:</span>
                        <textarea maxlength="1000" id="Body" name="Body" class="form-control" style="width: 400px;"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end">
                    <div class="mr-2">
                        <button type="button" data-dismiss="modal" class="btn btn-danger">Close</button>
                    </div>
                    <div class="mr-3">
                        <button type="button" id="createCommunication" class="btn btn-primary">Save</button>
                    </div>                    
                    <div>
                        <div class="spinner-border text-dark" id="modal-loader" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<input type="hidden" id="subscriptionId" value="@ViewBag.subscriptionId"/>
<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        hideLoader();
        $('#modal-loader').hide();
        $("#closeTicket").click(function () {
            showLoader();
            $("#closeTicket").html('Loading......');
            $("#closeTicket").attr("disabled", true);
            var data = {
                TicketName: $('#ticketName').val(),
                Status: 'closed',
                SubscriptionId: $('#subscriptionId').val(),
            };

            $.post("/Home/UpdateTicketStatus", { ticket: data },
                function (data) {
                    $("#closeTicket").html('Close Ticket');
                    $("#closeTicket").attr("disabled", false);
                    hideLoader();
                    alert(data.message)
                });
        });

        $("#createCommunication").click(function () {

            $('#form-body').addClass('loading-background');
            $('#modal-loader').show();

            $("#createCommunication").html('Loading......');
            $("#createCommunication").attr("disabled", true);
            var data = {
                TicketName: $('#ticketName').val(),
                Subject: $('#Subject').val(),
                Body: $('#Body').val(),
                SubscriptionId: $('#subscriptionId').val(),
            };

            $.post("/Home/CreateCommunication", { communication: data },
                function (data) {
                    $("#createCommunication").attr("disabled", false);
                    $("#createCommunication").html('Save');
                    $('#form-body').removeClass('loading-background');
                    $('#modal-loader').hide();
                    alert(data.message)
                    $('#exampleModalCenter').modal('hide');
                });
        });
    });

</script>